---
layout: page
---
<div class="post">
  <div class="post-nav">
    {% if page.next.url %}
      <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}">&laquo; Prev</a> <!--{{ page.next.url | prepend: site.baseurl }}-->
    {% endif %}
    {% if page.previous.url %}
      <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}">Next &raquo;</a><!--{{ page.previous.url | prepend: site.baseurl }}-->
    {% endif %}
  </div>

  <article class="post-content">
    {{ content }}
  </article>

</div>
